<html>
  <head>
    {% if title %}
    <title>{{title}} - Patient One</title>
    {% else %}
    <title>Patient One</title>
    {% endif %}
  </head>
  <body>
    <div>Welcome to Patient One: <a href="/index">Patient Data</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
